*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

body{
  font-family: Arial, Helvetica, sans-serif;
}


/* header */
.sd-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.sd-nav .top{
  height: 30px;
  background-color: black;
}

.sd-nav .bottom{
  background-color: white;
}

/* jumbotron */

.sd-jumbotron{
  height: 90vh;
  margin-top: 90px;
  color: white;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  
}
