*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */


.sd-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

/* MAIN */


/* PS-5 */

.sd-ps5 .container .sd-blue-text{
  color: #1a80d3;
  text-transform: uppercase;
}

.sd-ps5 .container .row .sd-col-little{
  margin: 15px 0;
}

.sd-ps5 .container .row .sd-col-big img{
  width: 100%;
}

.sd-ps5 .container .row .sd-col-little img{
  width: 100%;
  opacity: 0.8;
  margin-bottom: 10px;
}

/* in evidence game */

.sd-evidence-game{
  height: 100vh;
  color: white;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}

.sd-evidence-game .container .row .sd-logo{
  width: 70%;
}


/* nuove uscite */

.sd-nuove-uscite{
  background-color: #1f1f1f;
  color: white;
}

.sd-nuove-uscite .container .row img{
  width: 100%;
  border-radius: 15px;
}

.sd-nuove-uscite .container .row .sd-col{
  margin-bottom: 50px;
}



/* esplora ps-4 */
.sd-esplora-ps-4 .container .row img{
  width: 100%;
}


/* playst-plus */

.sd-playst-plus{
  background-color: #bebcbb;
}

/* playst-now */

.sd-cta-playst-now{
  background-color: #161c3b;
  color: white;
}


/* FOOTER */


footer{
  background-color: #00439c;
  color: white;
}