*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */


.sd-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

/* MAIN */

/* playst-plus */

.sd-playst-plus{
  background-color: #bebcbb;
}

/* playst-now */

.sd-cta-playst-now{
  background-color: #161c3b;
  color: white;
}


/* FOOTER */


footer{
  background-color: #00439c;
  color: white;
}