/* HEADER */

.sd-nav .top img{
  width: 60px;
  filter: invert(0);
}


/* nav */

.sd-nav .bottom img{
  width: 60px;
}

.sd-nav .bottom ul li{
  list-style: none;
  margin-right: 40px;
  position: relative;
}

.sd-nav .bottom ul li a,
.sd-nav .bottom p a{
  color: #2a2a2a;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.sd-nav .bottom ul li a.first::after{
  content: '\276E';
  display: block;
  color: #a9a9a9;
  position: absolute;
  top: 6px;
  right: -16px;
  font-size: 0.7rem;
  transform: rotate(270deg);
  transition: all .2s;
}

.sd-nav .bottom ul li a.first[aria-expanded="true"]::after{
  transform: rotate(90deg);
  color: #1a80d3;
}

.sd-nav .bottom ul li a[aria-expanded="true"],
.sd-nav .bottom ul li a:hover,
.sd-nav .bottom p a:hover{
  color: #1a80d3;
}

.sd-nav .bottom button{
  background-color: #363636;
  border-color: #363636;
  font-size: 0.9rem;
}

.sd-nav .bottom i{
  font-size: 1.2rem;
}

.sd-nav .bottom i.fa-bars{
  padding: 4px 12px;
  border-radius: 5px;
  color: #615c5c;
  border: 1px solid rgb(180, 180, 180);
}

.dropdown-menu{
  width: 100vw;
  background-color: white;
  transform: translate(-120px, 41px)!important;
  border-radius: 0;
}

.dropdown-menu.show{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu .dd-box{
  width: 175px;
  min-height: 140px;
  padding: 15px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dropdown-menu .dd-box p{
  font-weight: bold;
  color: #2a2a2a;
  margin-bottom: 0;
}

.dropdown-menu .dd-divider{
  width: 100%;
  height: 1px;
  background-color: rgb(189, 186, 186);
}

.dropdown-menu .dd-box:hover{
  box-shadow: 1px 1px 10px 1px rgb(189, 186, 186);
}

.dropdown-menu .dd-bottom-menu ul li{
  position: relative;
  margin: 0 30px;
}

.dropdown-menu .dd-bottom-menu ul li a::before{
  content: ' ';
  display: block;
  background-color: #1a80d3;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: -14px;
  top: 8px;
}



/* JUMBOTRON */

.sd-jumbotron .container .row img{
  width: 75%;
}

/* game-card-xjumbo */

.sd-game-card-xjumbo .container .sd-col{
  margin-bottom: 20px;
}

.sd-game-card-xjumbo .container .sd-col img{
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}




/* PS-5 */

.sd-ps5 .container .sd-blue-text{
  color: #1a80d3;
  text-transform: uppercase;
  margin-bottom: -5px;
  font-size: 0.95rem;
  font-weight: 600;
}

.sd-ps5 .container .row .sd-col-little{
  margin: 15px 0;
  opacity: 0.8;
}

.sd-ps5 .container .row .sd-col-little a{
  text-decoration: none;
  color: black;
}

.sd-ps5 .container .row .sd-col-big img{
  width: 98%;
}

.sd-ps5 .container .row .sd-col-little img{
  width: 100%;
  margin-bottom: 10px;
}

.sd-ps5 .container .row .sd-col-little .tm-special::after{
  content: '\02122';
  font-size: 1rem;
  color: rgb(61, 58, 58);
  position: absolute;
  bottom: -2px;
}

.sd-ps5 .container .row .sd-col-little{
  border-bottom: 3px solid white;
}


/* in evidence game */

.sd-evidence-game{
  min-height: 100vh;
  color: white;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}

.sd-evidence-game .container .row .sd-logo{
  width: 70%;
}

.sd-evidence-game .container .row .sd-p-subtitle,
.sd-evidence-game .container .row .sd-h2{
  font-weight: 600;
}


/* nuove uscite */

.sd-nuove-uscite{
  background-color: #1f1f1f;
  color: white;
}

.sd-nuove-uscite .container .row .col a{
  text-decoration: none;
  color: white;
}

.sd-nuove-uscite .container .row img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: all .5s;
}

.sd-nuove-uscite .container .row .sd-col{
  margin-bottom: 50px;
}

.sd-nuove-uscite .container .row .sd-col p{
  font-size: 1rem;
}


/* esplora ps-4 */
.sd-esplora-ps-4 .container .row img{
  width: 100%;
}

.sd-esplora-ps-4 .container .sd-h2{
  display: inline-block;
}

.sd-esplora-ps-4 .container .sd-h2::after{
  content: '\000AE';
  color: #232323;
  font-size: 1.15rem;
  position: absolute;
  bottom:12px;
  right: 20px;
}


/* playst-plus */

.sd-playst-plus{
  background-color: #bebcbb;
}

.sd-playst-plus .container .row .sd-left{
  padding-top: 2rem;
}

.sd-playst-plus .container .row .sd-left .logo{
  width: 60%;
}

.sd-playst-plus .container .row .sd-left .logo img{
  width: 100%;
}

.sd-playst-plus .container .row .sd-right img{
  height: 100%;
}


/* sconti store */

.sconti-store .container .row .col img{
  width: 100%;
}


/* playst-now */

.sd-cta-playst-now{
  background-color: #161c3b;
  color: white;
}

.sd-cta-playst-now .container .row .left img{
  width: 65%;
}


.sd-cta-playst-now .container .row .right img{
  width: 100%;
} 

/* social */

.sd-social .row .col a img{
  width: 100%;
}



/* FOOTER */

footer{
  background-color: #00439c;
  color: white;
}



footer .container .row .sd-logo-container::after{
  content: '\000AE';
  color: white;
  font-size: 0.7rem;
  position: absolute;
  bottom:15px;
  left: 83px;
}

footer .container .row .text-group img{
  width: 20px;
  margin-right: 10px;
}

footer .container .row .text-group span{
  font-weight: 500;
}

footer .container .row .sd-ul{
  margin-bottom: 5px;
}

.sd-ul li{
  list-style: none;
}

footer .container .row .sd-ul li a{
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

footer .container .row .sd-logosie-container img{
  width: 115px;
  margin-right: 10px;
}

.footer-p{
  font-size: 0.9rem;
}

.footer-p a{
  color: white;
}
/* media-query */

@media screen and (max-width: 768px) {

  .sd-playst-plus .container .sd-container .sd-img-big{
    display: none;
  }
  
}


@media screen and (max-width: 576px) {

  .sd-ps5 .container .row.bottom p{
    display: none;
  }
  
}
