/* HEADER */

.sd-nav .top{
  height: 30px;
  background-color: black;
}

.sd-nav .bottom{
  height: 70px;
  background-color: white;
}

.sd-nav .top .logo-sony{
  width: 60px;
  position: absolute;
  right: 5px;
}

.sd-nav .top .logo-sony img{
  width: 60px;
  filter: invert(1);
}



/* JUMBOTRON */

.sd-jumbotron{
  height: 90vh;
  margin-top: 100px;
  color: white;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  
}

.sd-jumbotron .container .row img{
  width: 75%;
}

/* game-card-xjumbo */

.sd-game-card-xjumbo .container .sd-col{
  margin-bottom: 20px;
}

.sd-game-card-xjumbo .container .sd-col img{
  width: 100%;
  border-radius: 15px;
}



/* PS-5 */

.sd-ps5 .container .sd-blue-text{
  color: #1a80d3;
  text-transform: uppercase;
  margin: 0;
}

.sd-ps5 .container .row .sd-col-little{
  margin: 15px 0;
}

.sd-ps5 .container .row .sd-col-big img{
  width: 98%;
}

.sd-ps5 .container .row .sd-col-little img{
  width: 100%;
  opacity: 0.8;
  margin-bottom: 10px;
}

/* in evidence game */

.sd-evidence-game{
  height: 100vh;
  color: white;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}

.sd-evidence-game .container .row .sd-logo{
  width: 70%;
}


/* nuove uscite */

.sd-nuove-uscite{
  background-color: #1f1f1f;
  color: white;
}

.sd-nuove-uscite .container .row img{
  width: 100%;
  border-radius: 15px;
}

.sd-nuove-uscite .container .row .sd-col{
  margin-bottom: 50px;
}



/* esplora ps-4 */
.sd-esplora-ps-4 .container .row img{
  width: 100%;
}


/* playst-plus */

.sd-playst-plus{
  background-color: #bebcbb;
}


/* sconti store */

.sconti-store .container .row .col img{
  width: 100%;
}

/* playst-now */

.sd-cta-playst-now{
  background-color: #161c3b;
  color: white;
}

.sd-cta-playst-now .container .row .left img{
  width: 65%;
}


.sd-cta-playst-now .container .row .right img{
  width: 100%;
} 

/* social */

.sd-social .row .col a img{
  width: 100%;
}



/* FOOTER */


footer{
  background-color: #00439c;
  color: white;
}

footer .container .row .sd-logo-container img{
  width: 100px;
}
footer .container .row .sd-logo-container::after{
  content: '\000AE';
  color: white;
  font-size: 0.8rem;
  position: absolute;
  bottom:11px;
  left: 68px;
}

footer .container .row .text-group img{
  width: 20px;
  margin-right: 10px;
}

footer .container .row .text-group span{
  font-weight: 600;
}

.sd-ul li{
  list-style: none;
}

.sd-ul li a{
  text-decoration: none;
  color: white;
}


footer .container .row .sd-logosie-container img{
  width: 110px;
  margin-right: 10px;
}