.debug{
  background-color: rgba(240, 138, 138, 0.466);
  border: 1px solid black;
}

._h300{
  min-height: 300px;
}

._h100{
  min-height: 100px;
}

._col-debug{
  min-height: 100px;
  background-color: rgba(240, 138, 138, 0.466);
  border: 1px solid black;
}

.sd-p{
  font-size: 1.15rem;
}

.sd-btn-base{
  font-size: 1.1rem;
}

.sd-btn-w{
  background-color: white;
  border-color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.sd-btn-gray{
  background-color: #d9dadc;
  border-color: #d9dadc;
  font-weight: 600;
  color: #3167e5;
  font-size: 1.1rem;
}

.sd-btn-blue{
  background-color: #2d64e6;
  font-size: 1rem;
}

.sd-btn-orange{
  background-color: #cd3d0f;
  border-color: #cd3d0f;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 28px;
  padding: 7px 15px;
}

.sd-subtitle{
  color: #7a7a7a;
  font-size: 1.25rem;
}

.sd-subtitle-w{
  color: white;
  font-size: 1.25rem;
}

.sd-h2{
  font-size: 2.35rem;
}

.sd-h3{
  font-size: 2.15rem;
}



/* HOVER & ACTIVE RULES */


.sd-btn-gray:hover{
  color: #5b87ec;
  background-color: #d9dadc;
  border-color: #d5d6d8;
}

.sd-btn-orange:hover{
  background-color: #cd3d0f;
  opacity: 0.9;
  border: 1px solid rgb(29, 28, 28);
  outline:2px solid #cd3d0f;
}

.sd-btn-blue:hover{
  opacity: 0.8;
}

.sd-game-card-xjumbo .container .row .sd-col img:hover{
  transform: translatey(-20px);
}

.sd-ps5 .container .row .sd-col-little:hover{
  opacity: 1;
}

.sd-ps5 .container .row .sd-col-little.active-blue{
  border-bottom: 3px solid #3790d8;
  opacity: 1;
}



.sd-nuove-uscite .container .row .col:hover img{
  transform: scale(1.1);
}


/* .dropdown-toggle::after {
  display: none;
} */


